@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400, 700');
.background {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 12em;
    text-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.background::before {
    content: "";
    background-image: url("images/christmas\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #262c2c54;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
  }


#madLibOutput {
    padding: 20px;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-weight: bolder;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


#madLibOutput {
  padding: 10px;
  text-align: left;
}

p {
 color: white;
 font-size: 30px;
}

.div1 {
  background-color: transparent;
  background-color: rgba(178, 192, 219, 0.8);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0,0,0,.5);

}

.btncustom {
  border: 4px solid #4f9bffc2;
  background-color: white;
  color: #4f9bffc2;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btncustom:hover {
  border: 4px solid white;
  background-color: #4f9bffc2;
  color: white;
  font-weight: bold;
}


.btncustom:active {
  border: 4px solid white;
  color: white;
  font-weight: bold;
}

.btncustom:link {
  border: 4px solid white;
  color: white;
  font-weight: bold;
}